<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ISGOutputEntities" connectionString="metadata=res://*/Entities.SystemGenerated.ISGOutput.csdl|res://*/Entities.SystemGenerated.ISGOutput.ssdl|res://*/Entities.SystemGenerated.ISGOutput.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CHWNISGDEV;initial catalog=ISGOutput;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ISGAdminEntities" connectionString="metadata=res://*/Entities.SystemGenerated.ISGAdmin.csdl|res://*/Entities.SystemGenerated.ISGAdmin.ssdl|res://*/Entities.SystemGenerated.ISGAdmin.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CHWNISGDEV;initial catalog=ISGAdmin;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ISGClientEntities" connectionString="metadata=res://*/Entities.SystemGenerated.ISGClient.csdl|res://*/Entities.SystemGenerated.ISGClient.ssdl|res://*/Entities.SystemGenerated.ISGClient.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CHWNISGDEV;initial catalog=ISGClient;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ISGInputEntities" connectionString="metadata=res://*/Entities.SystemGenerated.ISGInput.csdl|res://*/Entities.SystemGenerated.ISGInput.ssdl|res://*/Entities.SystemGenerated.ISGInput.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CHWNISGDEV;initial catalog=ISGInput;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ISGTransientEntities" connectionString="metadata=res://*/Entities.SystemGenerated.ISGTransient.csdl|res://*/Entities.SystemGenerated.ISGTransient.ssdl|res://*/Entities.SystemGenerated.ISGTransient.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CHWNISGDEV;initial catalog=ISGTransient;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>