<?xml version="1.0"?>
<configuration>

  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="TemporaryDirectory" value="~/Temp/" />
    <add key="ISGAdminConnectionMetadata" value="res://*/Entities.SystemGenerated.ISGAdmin.csdl|res://*/Entities.SystemGenerated.ISGAdmin.ssdl|res://*/Entities.SystemGenerated.ISGAdmin.msl" />
    <add key="ISGClientConnectionMetadata" value="res://*/Entities.SystemGenerated.ISGClient.csdl|res://*/Entities.SystemGenerated.ISGClient.ssdl|res://*/Entities.SystemGenerated.ISGClient.msl" />
    <add key="ISGOutputConnectionMetadata" value="res://*/Entities.SystemGenerated.ISGOutput.csdl|res://*/Entities.SystemGenerated.ISGOutput.ssdl|res://*/Entities.SystemGenerated.ISGOutput.msl" />
    <add key="ISGInputConnectionMetadata" value="res://*/Entities.SystemGenerated.ISGInput.csdl|res://*/Entities.SystemGenerated.ISGInput.ssdl|res://*/Entities.SystemGenerated.ISGInput.msl" />
    <add key="ISGTransientConnectionMetadata" value="res://*/Entities.SystemGenerated.ISGTransient.csdl|res://*/Entities.SystemGenerated.ISGTransient.ssdl|res://*/Entities.SystemGenerated.ISGTransient.msl" />
  </appSettings>
  <connectionStrings>
    <add name="ISGAdmin" connectionString="Data Source=CHWNISGDEV;Initial Catalog=ISGAdmin;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ISGClient" connectionString="Data Source=CHWNISGDEV;Initial Catalog=ISGClient;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ISGInput" connectionString="Data Source=CHWNISGDEV;Initial Catalog=ISGInput;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ISGOutput" connectionString="Data Source=CHWNISGDEV;Initial Catalog=ISGOutput;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ISGTransient" connectionString="Data Source=CHWNISGDEV;Initial Catalog=ISGTransient;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ISGOutputEntities" connectionString="metadata=res://*/Entities.SystemGenerated.ISGOutput.csdl|res://*/Entities.SystemGenerated.ISGOutput.ssdl|res://*/Entities.SystemGenerated.ISGOutput.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CHWNISGDEV;initial catalog=ISGOutput;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ISGAdminEntities" connectionString="metadata=res://*/Entities.SystemGenerated.ISGAdmin.csdl|res://*/Entities.SystemGenerated.ISGAdmin.ssdl|res://*/Entities.SystemGenerated.ISGAdmin.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CHWNISGDEV;initial catalog=ISGAdmin;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ISGClientEntities" connectionString="metadata=res://*/Entities.SystemGenerated.ISGClient.csdl|res://*/Entities.SystemGenerated.ISGClient.ssdl|res://*/Entities.SystemGenerated.ISGClient.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CHWNISGDEV;initial catalog=ISGClient;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ISGInputEntities" connectionString="metadata=res://*/Entities.SystemGenerated.ISGInput.csdl|res://*/Entities.SystemGenerated.ISGInput.ssdl|res://*/Entities.SystemGenerated.ISGInput.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CHWNISGDEV;initial catalog=ISGInput;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ISGTransientEntities" connectionString="metadata=res://*/Entities.SystemGenerated.ISGTransient.csdl|res://*/Entities.SystemGenerated.ISGTransient.ssdl|res://*/Entities.SystemGenerated.ISGTransient.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CHWNISGDEV;initial catalog=ISGTransient;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="isgNetTcpBindingStreaming" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:20:00" sendTimeout="00:20:00" transferMode="Streamed" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxDepth="2147483647"/>
          <security mode="None"/>
        </binding>
      </netTcpBinding>
      <basicHttpBinding>
        <binding name="isgBasicHttpBinding" maxReceivedMessageSize="2147483647">
          <security mode="None"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="isgServiceBehavior" name="ExcelDocumentProcessor.FileServices.ServiceContracts.NeonISGFileService">
        <endpoint binding="netTcpBinding" bindingConfiguration="isgNetTcpBindingStreaming" contract="ExcelDocumentProcessor.FileServices.ServiceInterfaces.INeonISGFileService" />
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="isgBasicHttpBinding" contract="ExcelDocumentProcessor.FileServices.ServiceInterfaces.INeonISGFileService" />
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://isgfileservices.com/FileService.svc" />
            <add baseAddress="net.tcp://isgfileservices.com:809/FileService.svc" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="isgServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment>
      <serviceActivations>
        <add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="./FileService.svc" service="ExcelDocumentProcessor.FileServices.ServiceContracts.NeonISGFileService"/>
      </serviceActivations>
    </serviceHostingEnvironment>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.ServiceModel"
      switchValue="Information, ActivityTracing"
      propagateActivity="true">
        <listeners>
          <add name="wcfTraceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="WcfTrace.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>
