@{
    ViewBag.Title = "Unauthenticated";
    ViewBag.UName = User.Identity.Name;
}

<h2>Unauthenticated</h2>

<p>@ViewBag.UName is not a valid user in the ISG system. Please contact support desk.</p>
