@model ExcelDocumentProcessor.Web.Models.HomeModel

<div style="width: 90%; margin:0 auto;">

    <div class="breadcrumbs" style="margin: 10px 0px 10px 0px">Home > <strong>Progress Dashboard</strong></div>

    @Html.Partial("StaticGridCollection", Model.GridModel.Grids)

</div>